*.pdf
*.rar
*.zip

.idea/
**/.idea/
tmp/
**/tmp/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

output/
**/output/

submissions/

lecture8/data/traffic.mp4
lecture9/data/traffic.mp4
lecture9/tmp_panorama_eval/
lecture10/Awais_2026198004_lec10/
lecture7/midterm_project/packaging_label_defect_inspection/Packaging_Label_Defect_Inspection_2026198004_AwaisMuhammad.pptx
